*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppons' , sans-serif;
  
}
body{
    height: 100vh;
    width: 100%;
    background: url('https://www.ceifx.com/upload/media/default/0001/03/04cdbf689c4799bdf1acc57d41246c6d7836a88a.jpeg') ;
  background-size: cover;
  opacity: 0.9;
}
.container{
    margin: 10px auto;
    max-width: 600px;
    width: 100%;
    background:   #d2def4   ;
    border-radius: 5px;
    padding: 25px;
    justify-content: center;
    
   
}

.container span{
    font-size: 25px;
    font-weight: 600;   
}

.container form input{
    display: flex;
    height: 45px;
    width: 70%;
    margin: 30px ;
   font-size: 23px;
   padding: 10px;
}
.container form button {
    outline: none;
    background: green;
    color: rgb(248, 244, 100);
    width: 90px;
    height: 100%;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 1px;
    padding: 3px;
    margin-left:25px;
}
.container form button:hover{
    filter : brightness(0.8); 
    color  :  white;
    background : black ;
}
.container .res{
  width: 80%;
  padding: 25px;
  color: blue;
  font-size: 23px;
  box-sizing: border-box;
}

.err{
  width: 80%;
  padding: 25px;
  color: red;
  font-size: 23px;
  box-sizing: border-box;
}